[run]
omit = tests/*
branch = true  # Enables branch coverage

[report]
show_missing = true  # Displays missing lines in the coverage report

[html]
directory = coverage_html_report  # The directory for HTML report, if you want to generate one

[xml]
output = coverage.xml  # Path for XML report, if you want one