numpy ==2.0.2
scipy == 1.13.1
matplotlib == 3.9.4
scikit-learn == 1.6.1
fire == 0.7.0
pytest == 8.4.1
coverage == 7.9.2
pytest-cov == 6.2.1
pylint == 3.3.7
wheel == 0.45.1
pytest-azurepipelines == 1.0.5
twine == 6.1.0
pathlib==1.0.1
beartype == 0.21.0
setuptools==80.9.0
torch == 2.7.1
torchinfo == 1.8.0
pre-commit == 4.2.0
